@inherits RazorEngine.Templating.TemplateBase<ClickTwice.Publisher.Core.Resources.LaunchPageModel>

<!DOCTYPE HTML>
<!--
    Eventually by HTML5 UP
    
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>@Model.Manifest.ApplicationName</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- <link rel="stylesheet" href="assets/css/main.css"/> -->
    <link rel="stylesheet" href="http://html5up.net/uploads/demos/eventually/assets/css/main.css"/>
</head>
<body>

    <!-- Header -->
    <header id="header">
        <h1>@Model.Manifest.ApplicationName</h1>
        <h2>@Model.Manifest.AuthorName</h2>
        <h3>@Model.Manifest.PublisherName</h3>
        <p>
            @Model.Manifest.SuiteName
        </p>
        <p>
            @Model.Manifest.Summary
        </p>
    </header>
    <p>@Model.Manifest.Description</p>
    <!-- Signup Form -->
    <form id="signup-form" method="post" action="#">
        <p class="message">Requires .NET Framework @Model.Manifest.FrameworkVersion </p>
        <button class="button btn-lg">Launch</button>
        <button class="button btn-lg">Install</button>
    </form>
    <!-- Footer -->
    <footer id="footer">
        @*<ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>*@
        <ul class="copyright">
            <li>@(string.IsNullOrWhiteSpace(@Model.Manifest.Copyright) ? "© " + @Model.Manifest.Copyright : string.Empty) </li>
            <li><a href="http://html5up.net">HTML5 UP</a></li>
            <li><a href="https://bitbucket.org/agc93/clicktwice" target="_blank">ClickTwice</a></li>
        </ul>
    </footer>

    <!-- Scripts -->
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<!-- <script src="assets/js/main.js"></script> -->
<script src="http://html5up.net/uploads/demos/eventually/assets/js/main.js"></script>

</body>
</html>